// Core variables and mixins
@import "variables";
@import "mixins";

// Bootstrap Ingresso overrides
//
// Corrections for some issues in Bootstrap
// Ul default model

ul {
  padding: 0;
  list-style: none;
}
ol {
  padding: 0;
  list-style-position: inside;
}

// Problems with Headings size. ex.: H1 - fixed pixel...
.title1 {
  font-size: $font-size-base;
}
.title2 {
  font-size: $font-size-base;
}



// ingresso components
@import "ing-components/ing-utilities";
@import "ing-components/ing-icons";
@import "ing-components/ing-font-face";
@import "ing-components/ing-header";
@import "ing-components/ing-footer";
@import "ing-components/ing-product-list";
@import "ing-components/ing-accordion";
@import "ing-components/ing-buttons";
@import "ing-components/ing-tabs";
@import "ing-components/ing-popover";
@import "ing-components/ing-modal";
@import "ing-components/ing-tags";
@import "ing-components/ing-alerts";
@import "ing-components/ing-forms";
@import "ing-components/ing-cards";
@import "ing-components/ing-rating";
@import "ing-components/ing-slide-page";
@import "ing-components/ing-carousel";
@import "ing-components/ing-media";
@import "ing-components/ing-highlighted-titles";
@import "ing-components/ing-card-small";
@import "ing-components/ing-lists";
@import "ing-components/ing-see-more-collapse";
@import "ing-components/ing-boxes";
@import "ing-components/ing-tables";
@import "ing-components/ing-mixins";

// swiper
@import "../bower_components/Swiper/dist/css/swiper";
