// header Ingresso
.header {
  margin-bottom: 10px;

  div[class*="col-"] {
    position: inherit;
  }

  .logo {
    float: left;
    margin-bottom: 0;
  }
  .hd-top {
    padding: 0 10px;
  }
  .hd-user-menu, .hd-search, .hd-support {
    display: inline-block;
    margin: 5px 0 0 5px;
    vertical-align: middle;
  }
  .ic-rounded.ic-rd-size2 {
    width: 40px;
    height: 40px;

    .svg-icon {
      width: 30px;
      height: 30px;
      margin-top: 4px;
    }
  }
  .hd-um-link, .hd-umenu-cont {
    * {
      vertical-align: middle;
    }
  }
  //busca
  .hd-search {
    .svg-icon {
      margin-top: 5px;
    }
  }
  .hd-search-cont {
    .form-group {
      margin-bottom: 0;
    }
    .hd-search-input {
      margin-bottom: 20px;
    }
    .hd-search-suggestions {
      li {
        margin-bottom: 10px;
      }
    }
  }
  .umenu-text {
    display: none;
  }
  //menu principal
  .hd-main-menu {
    background-color: #f4f4f4;
    border-top: 4px solid #fff;
    position: relative;
    .hd-mm-lt{
      white-space: nowrap;
      overflow: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      display: block;
      -webkit-flex-flow: initial;
      padding: 0;
      text-align: center;
      margin: 0;
    }
    .hd-mm-it{
      white-space: normal;
      width: auto;
      display: inline-block;
      letter-spacing: normal;
      word-spacing: normal;
      vertical-align: top;
      text-rendering: auto;
      padding: 0;
      max-width: initial;
      margin-right: 5px;
    }
    .hd-mm-lnk{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: block;
      padding:12px;
      font-family: 'Klavika-Regular';
      font-size: 1rem;
      color: #fff;
    }
    .hd-mm-lnk.collapsed {
      position: inherit;
      padding: 10px;
      display: block;
      width: 85px;
      border-bottom: 2px solid #000;
      font-family: 'Klavika-Regular';
      font-size: 1rem;
      color:#0db6b5;
    }
    .hd-mm-cinema{
      .hd-mm-lnk{
        background-color: #df7446;
      }
      .hd-mm-lnk.collapsed{
        background-color: transparent;
        border-color: #df7446;
      }
    }
    .hd-mm-theater {
      border-color: #c45f83;
      .hd-mm-lnk{
        background-color: #c45f83;
      }
      .hd-mm-lnk.collapsed{
        background-color: transparent;
        border-color: #c45f83;
      }
    }
    .hd-mm-show {
      border-color: #acbf52;
      .hd-mm-lnk{
        background-color: #acbf52;
      }
      .hd-mm-lnk.collapsed{
        background-color: transparent;
        border-color: #acbf52;
      }
    }
    .hd-mm-event {
      border-color: #524785;
      .hd-mm-lnk{
        background-color: #524785;
      }
      .hd-mm-lnk.collapsed{
        background-color: transparent;
        border-color: #524785;
      }
    }
    .hd-mm-circus {
      border-color: #ead11c;
      .hd-mm-lnk{
        background-color: #ead11c;
      }
      .hd-mm-lnk.collapsed{
        background-color: transparent;
        border-color: #ead11c;
      }
    }
    .hd-mm-promo {
      border-color: #ba3a3a;
      .hd-mm-lnk{
        background-color: #ba3a3a;
      }
      .hd-mm-lnk.collapsed{
        background-color: transparent;
        border-color: #ba3a3a;
      }
    }

    .hd-cont.collapse.in, .hd-cont.collapsing{
      top:48px;
    }

    .hd-mm-options{
      margin-bottom:15px;
    }

    .filter{
      margin-bottom: 1px;
      .filter-head{
        border:0;
        background-color: #5d5d5d;
        color:#fff;
        padding:10px;
        &.collapsed{
          .filter-label {
            border:0;
            padding-bottom: 0;
          }
        }
      }
      .filter-label{
        border-bottom: 1px solid #525453;
        padding-bottom: 5px;
      }
      .filter-content{
        background-color: #5d5d5d;
      }
      .filter-wp{
        height: 200px;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(93,93,93,0.3);
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: rgba(13,182,181,0.8);
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
        &::-webkit-scrollbar-thumb:window-inactive {
          background: rgba(13,182,181,0.8);
        }
      }
    }
    .btn-filter{
      margin-top:15px;
    }
    .hd-mm-cat-link{
      margin: 10px 0 15px;
      display: block;
    }
    .date-month-lt2{
      padding: 10px;
      .date-it{
        margin: 0 5px 10px 5px;
      }
    }
  }
  //user menu
  .hd-umenu-options {
    .tab-accordion {
      border-bottom: 0;
      color: #fff;
      font-size: 0.938rem;
    }
    .tab-content {
      padding-left: 10px;

      li {
        margin-bottom: 15px;
      }
    }
  }
  .umenu-tips {
    text-align: center;
    color: #fff;

    .svg-icon {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 0;
    }
  }
  //localidade
  .hd-local {
    background-color: #0db6b5;
    text-align: center;
    padding: 10px;

    .hd-local-link {
      color: #fff;

      &.collapsed {
        .hd-local-ic-2 {
          transform: rotate(180deg) scaleX(-1);
        }
      }
    }
    .hd-cont.collapse.in, .hd-cont.collapsing {
      top: 106px;
    }
    form {
      margin-bottom: 15px;
    }
    .hd-local-update {
      display: block;
      margin-bottom: 25px;
    }
    .hd-local-places {
      strong {
        color: #fff;
        font-size: 0.938rem;
        font-weight: normal;
        margin-bottom: 20px;
        display: block;
      }
      ul {
        margin-bottom: 20px;
      }
      li {
        margin-bottom: 10px;
      }
    }
    .hd-local-cont {
      .hd-cont-wp {
        height: calc(100vh - 106px);
      }
    }
  }
  //atendimento
  .hd-support {
    display: none;

    .ic-rounded.ic-rd-size2 .svg-icon {
      width: 30px;
      height: 30px;
    }
  }
  .hd-local-link {
    font-family: 'Klavika-Regular';
    font-size: 1rem;

    .svg-icon {
      fill: #fff;
    }
  }
  .svg-icon {
    cursor: pointer;
  }
  //conteudo escondido dos collapses
  .hd-cont {
    text-align: left;

    .hd-cont-wp {
      padding: 25px;
      height: calc(100vh - 60px);
    }
    &.collapse.in, &.collapsing {
      background-color: #525453;
      width: 100%;
      z-index: 50;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
    }
  }


}
@media (min-width:768px) {
  #header {
    overflow: visible;
    margin-bottom:15px;
  }
  .header {
    .hd-user-menu, .hd-search, .hd-support {
      margin: 15px 0 0 5px;
    }
    .umenu-text {
      display: inline-block;
    }
    .umenu-text {
      margin-right: 5px;
    }
    .hd-cont {
      .hd-cont-wp {
        height: auto;
      }
    }
    .ic-rounded.ic-rd-size2 {
      width: 30px;
      height: 30px;

      .svg-icon {
        width: 20px;
        height: 20px;
        margin-top: 0;
      }
    }
    .hd-cont.collapse.in, .hd-cont.collapsing {
      height: auto;
      bottom: initial;
      overflow: hidden;
      top: 80px;
    }
    .hd-top {
      margin-bottom: 10px;
    }
    .hd-bottom {
      background-color: #f4f4f4;

      div[class*="col-md-3"] {
        padding-right: 3px;
      }
      div[class*="col-md-9"] {
        padding-left: 0;
      }
    }
    //busca
    .hd-search-cont {
      width: 100%;
      bottom: inherit;
      height: auto;
      overflow: hidden;

      .hd-cont-wp {
        padding: 25px 0;
        max-width: 600px;
        margin: 0 auto;
      }
    }
    //menu principal
    .hd-main-menu {
      background-color: transparent;
      border: 0;
      position: inherit;
      .hd-mm-lt{
        white-space: initial;
        overflow: initial;
        overflow-y: initial;
        display: flex;
      }
      .hd-mm-it {
        flex: 1;

        &:last-child {
          margin-right: 0;
        }
      }
      .hd-mm-lnk {
        &.collapsed{
          width: 100%;
        }
        width: 100%;
        min-height: 50px;
        position: inherit;
        padding:10px;
      }
      .hd-cont.collapse.in, .hd-cont.collapsing{
        top: 118px;
      }

      .hd-mm-cinema{
        .hd-mm-cont{
          border-top:3px solid #df7446;
        }
      }
      .hd-mm-theater {
        .hd-mm-cont{
          border-top:3px solid #c45f83;
        }
      }
      .hd-mm-show {
        .hd-mm-cont{
          border-top:3px solid #acbf52;
        }
      }
      .hd-mm-event {
        .hd-mm-cont{
          border-top:3px solid #524785;
        }
      }
      .hd-mm-circus {
        .hd-mm-cont{
          border-top:3px solid #ead11c;
        }
      }
      .hd-mm-promo {
        .hd-mm-cont{
          border-top:3px solid #ba3a3a;
        }
      }
    }
    //local
    .hd-local {
      background-color: transparent;
      padding: 0;
      position: relative;

      .hd-local-link {
        background-color: #0db6b5;
        color: #fff;

        .svg-icon {
          fill: #fff;
        }
        &.collapsed {
          background-color: transparent;
          color: #0db6b5;

          .svg-icon {
            fill: #0db6b5;
          }
        }
      }
      .hd-cont.collapse.in, .hd-cont.collapsing {
        top: 50px;
        position: absolute;
      }
      .hd-local-cont {
        .hd-cont-wp {
          height: auto;
        }
      }
      .hd-local-link {
        display: block;
        padding: 10px;
        border-bottom: 2px solid #0db6b5;
        min-height: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .svg-icon {
          fill: #fff;
        }
      }
    }
    //atendimento
    .hd-support {
      display: inline-block;
      vertical-align: middle;
    }
    //usermenu
    .hd-um-link {
      margin-right: 10px;

      &:hover, &:focus, &:active {
        text-decoration: none;
      }
      .svg-icon {
        cursor: pointer;
      }
    }
    //menu do usuário
    .hd-user-menu {
      .hd-cont.collapse.in, .hd-cont.collapsing {
        background: linear-gradient(90deg, #3a3c3b 69%, #525453 31%);
      }
      .hd-cont-wp {
        padding: 0;

        .svg-icon {
          cursor: default;
        }
      }
      .umenu-tips {
        background-color: #3a3c3b;
      }
      .hd-umenu-options {
        background-color: #525453;

        .tab-content {
          padding: 0;
        }
      }
      .umenu-tips, .hd-umenu-options {
        padding: 35px 25px;
      }
    }
  }
}
@media (min-width:992px) {
  .header {
    //busca
    .hd-search-link {
      display: none;
    }
    .hd-search-cont {
      width: 280px;
      display: inline-block;
      overflow: visible;

      .hd-cont-wp {
        padding: 0;
        max-width: initial;
        margin: 0;
      }
      .hd-search-suggestions {
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        background: #fff;
        border: 1px solid #0db6b5;
        z-index: 1;
        padding: 10px;
        margin: 0 10px;

        ul {
          margin: -10px;
        }
        li {
          padding: 0;

          &:last-child {
            margin: 0;
          }
        }
        a {
          padding: 5px 10px;
          display: block;

          &:hover {
            background-color: #0db6b5;
            color: #fff;
            text-decoration: none;
          }
        }
      }
      .hd-search-input {
        margin: 0;
        display: inline-block;
        width: 100%;
      }
    }
    .hd-search-cont.collapse.in, .hd-search-cont.collapsing {
      background-color: transparent;
      position: initial;
      width: 280px;
    }
  }
}
