//
// Base styles
//

.alert {
  display: flex;
  align-items: center;
  *{
    vertical-align: middle;
  }
  p{
    overflow:hidden;
    margin-bottom:0;
    flex: 1;
  }
  strong{
    margin-right: .3rem;
  }
  svg{
    margin-right:.5rem;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
  .svg-icon{
      fill:#3c763d;
  }
}
.alert-info {
  .svg-icon{
      fill:#31708f;
  }
}
.alert-warning {
  .svg-icon{
      fill:#8a6d3b;
  }
}
.alert-danger {
  .svg-icon{
      fill:#a94442;
  }
}
