//
// Highlighted Titles
//

.high-title{
  color:#fff;
  padding: 0 5px 0 10px;
  font-size:1.125rem;
  display: flex;
  align-items: center;
  min-height: 30px;
  *{
    vertical-align: middle;
  }
  &.ht-cinema{
      background:$brand-cinema;
  }
  &.ht-theater{
      background:$brand-theater;
  }
  &.ht-show{
      background:$brand-show;
  }
  &.ht-events{
      background:$brand-events;
  }
  &.ht-circus{
      background:$brand-circus;
  }
  &.ht-promo{
      background:$brand-promo;
  }
  .svg-icon{
    margin-right: 5px;
    fill: #fff;
  }
  .ht-lk{
    float: right;
    margin-left: auto;
    font-size: 0.8125rem;
    color:#fff;
    font-family: 'Trebuchet Ms';
  }
}

.high-title2{
  color:#fff;
  padding:10px;
  min-height: 50px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  min-height: 30px;
  background: #F2F2F2;
  *{
    vertical-align: middle;
  }
  .svg-icon{
    margin-right: 5px;
    fill:#c3c3c3;
  }
  .ht-lk{
    float: right;
    margin-left: auto;
    font-size: 0.8125rem;
    font-family: 'Trebuchet Ms';
    .svg-icon{
      fill:$brand-primary;
    }
  }
}

//
// Event Name
//

.event-name {
  font-size: 1.375rem;
  font-weight: bold;
}

//
// Main Title with Icon
//

.main-title{
  font-size: 1rem;
  padding-bottom:10px;
  border-bottom:1px solid #bbb;
  margin:15px 0 10px;
  .svg-icon{
    vertical-align: middle;
  }
}
