// Ingresso Media

.media{
  &.ing-model{
  align-items: center;
  justify-content: center;
    .media-body{
      font-size: 0.75rem;
    }

    .media-heading{
      font-size: 0.875rem;
      margin:0;
    }
  }
}


@include media-breakpoint-up(lg) {
  .media{
    &.ing-model{
      margin-bottom:0;
    }
  }
}
