//
// Lists
//

// List 1 - Inline
.list-type01 {
  font-size: 0;
  overflow: hidden;
  margin-bottom: 10px;
  vertical-align: middle;
  .lt-tp01-it {
    display: inline-block;
    border-left: 1px solid #666;
    font-size: 0.688rem;
    padding: 5px 0 5px 7px;
    margin: 0 0 10px 7px;
    &:first-child{
      border-left:0;
      margin-left:0;
      padding-left:0;
    }
  }
}

// List 2
.list-type02 {
  margin-bottom: 10px;
  .lt-tp02-it {
    display: block;
    font-size: 11px;
    margin: 5px 0;
  }
}

// List 3 - odd/even
.list-type03 {
  .lt-tp03-it {
    display: block;
    padding: 10px;
    &:nth-child(odd){
      background-color: #f6f6f6;
    }
  }
}

//carousel list
.card-list {
  .cl-wrapper {
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    display: block;
    -webkit-flex-flow: initial;
  }
  .cl-item {
    white-space: normal;
    width: auto;
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    padding: 0;
    max-width: initial;
    margin: 0 4px 0 0;
  }
}

//carousel list
.carousel-list {
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  display: block;
  -webkit-flex-flow: initial;
  .cl-item {
    white-space: normal;
    width: auto;
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    padding: 0;
    max-width: initial;
    margin: 0 4px 0 0;
  }
  &.wide{
    .cl-item{
      margin: 0 15px;
    }
  }
}

//
// Date List
//

.date-lt {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  font-size: 0;
  vertical-align: top;
  margin-bottom: 10px;
}
.date-it {
  font-size: 1rem;
  display: inline-block;
  position: relative;
  letter-spacing: normal;
  white-space: normal;
}
.date-lk {
  display: block;
  color: $brand-primary;
  padding: 5px 5px;
  background: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid $brand-primary;
  border-top: 10px solid $brand-primary;
  text-align: center;
  width: 62px;
  min-height: 45px;
  vertical-align: top;
  text-decoration: none;
  &:hover {
    color: #0A9191;
    border: 1px solid #0A9191;
    border-top: 10px solid #0A9191;
    text-decoration: none;
  }
  &:active {
    color: #086E6E;
    border: 1px solid #086E6E;
    border-top: 10px solid #086E6E;
  }
  &.active {
    color: #fff;
    cursor:default;
    text-decoration:none;
    background: #0A9191;
    border: 1px solid #0A9191;
    border-top: 10px solid #0A9191;
  }
  &.disabled{
    color: #DCDCDC;
    background: #fff;
    border: 1px solid #DCDCDC;
    border-top: 10px solid #DCDCDC;
    cursor: not-allowed;
  }
}

.date-main-info {
  font-size: 1rem;
}
.date-month-lt .date-main-info {
  font-size: 1.125rem;
}
.date-info {
  font-size: 0.8125rem;
}

.date-month-lt2{
  white-space: initial;
  overflow: visible;
  .date-it{
    margin:0 2px;
  }
  .date-lk{
    width: 43px;
    height: 43px;
    border-top:0;
    padding: 0;
    min-height: initial;
  }
  .date-info{
    display: block;
    background-color: #0db6b5;
    color: #fff;
    font-size: 0.625rem;
  }
  .date-main-info{
    font-weight: normal;
  }
}


//
// Tickets List
//


.tickets-lt {
  font-size: 0;

  .tck-it {
    font-size: 0.875rem;
    font-weight: bold;
    display: inline-block;
    position: relative;
    letter-spacing: normal;
    margin: 0 10px 10px 0;

    &.is-disabled {
      .tck-lk, .tck-lk:hover, .tck-lk:active {
        color: #666;
        background: #DCDCDC;
        cursor: not-allowed;
      }
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      margin-top:-5px;
      background: #fff;
      top: 50%;
      right: -5px;
      z-index: 2;
      border-radius: 10px;
    }
  }
  .tck-lk {
    display: block;
    color: #fff;
    padding: 10px 20px;
    background: $brand-primary;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    &:hover {
      background: #0A9191;
      color: #fff;
      text-decoration: none;
      .tck-buy{
        display: block;
      }
    }
    &:active {
      background: #086E6E;
    }
  }

  .tck-buy {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0A9191;
    padding: 14px 7px;
  }
}

@include media-breakpoint-up(md) {
  .carousel-list {
    white-space: normal;
    overflow: hidden;
    .cl-item {
      margin: 0 4px;
    }
  }
}
