.carousel-ingresso{
	overflow:hidden;
	.carousel-content{position:relative;}

	.carousel-control{
		background:transparent;
		z-index:1;

		.icon-prev, .icon-next{
			&:before{
				content:'';
			}
			fill:#fff;
		}
	}

	.carousel-indicators{
		position:static;
		width:auto;
		white-space:nowrap;
		word-spacing:-4px;
		overflow-x:auto;
		text-align:left;
		margin:0 -5px;


		.carousel-indicator{
			opacity:0.5;
			width:70px;
			height:34px;
			background-size:contain;
			background-position:center;
			background-repeat:no-repeat;
			border-radius:0;
			border:0;
			margin:0 0 0 5px;

		}

		.active{
			opacity:1;
		}
	}
	

	/* feito dessa forma temporariamente pois nao existe definicao de cores de eventos */
	.carousel-caption{
		background:#d3793d;
		background:rgba(211, 121, 61, 0.5);
		padding:10px;
		left:0;
		right:0;
		bottom:0;
		text-align:left;
	}

	.carousel-inner{
		margin-bottom:5px;
	}
}

/* swiper custom */

.swiper-ingresso{

	.swiper-container {
	    width: 100%;
	    margin-left: auto;
	    margin-right: auto;

	    img{max-width:100%;}
	}
	.gallery-top {
	    height: 80%;
	    width: 100%;
	}
	.gallery-thumbs {
	    box-sizing: border-box;
	    padding: 10px 0;
	}
	.gallery-thumbs .swiper-slide {
	    width:150px;
	    margin-left:10px;
	    opacity: 0.4;
	}
	.gallery-thumbs .swiper-slide:first-child {
	  margin-left:0;
	}

	.gallery-thumbs .swiper-slide-active {
	    opacity: 1;
	}
	.swiper-button-next{right:0;}
	.swiper-button-prev{left:0;}
	.swiper-button-next, .swiper-button-prev{
		background-image:none;
		width:auto;
		height:auto;
		margin-top:-15px;
		fill:#fff;
	}

	/* feito dessa forma temporariamente pois nao existe definicao de cores de eventos */
	.carousel-caption{
		background:#d3793d;
		background:rgba(211, 121, 61, 0.5);
		padding:10px;
		left:0;
		right:0;
		bottom:0;
		text-align:left;
	}
}
/* temp */
.swiper-ingresso img{width:100%;}

@include media-breakpoint-up(md) {

	.carousel-ingresso{
		.carousel-indicators{
			white-space:normal;
			.carousel-indicator{
				width:80px;
				height:40px;
			}
		}
		.carousel-caption{
			padding:15px;

			> :last-child{margin-bottom:0;}
		}
	}

	/* swiper custom */
	.swiper-ingresso{
		.gallery-thumbs .swiper-slide{
			width:180px;
		}

		/* arrows */
		.swiper-button-next, .swiper-button-prev{
			opacity:0;
			transition:opacity 0.5s ease;
		}
		.swiper-button-disabled.swiper-button-next, .swiper-button-disabled.swiper-button-prev{opacity:0;}
		
		/* arrows on hover */
		.swiper-container:hover {
			.swiper-button-next, .swiper-button-prev{
				opacity:1;
			}
			.swiper-button-disabled{opacity:0.35;}
		}

	}
	
	/* swiper with side thumbs */
	&.swiper-ingresso-side{
		padding-right:190px;

		.gallery-top	{
			float:left;
		}
		.gallery-thumbs{
			width:180px;
			float: right;
			padding:0;
		    margin-right: -190px;
		}

		.gallery-thumbs .swiper-slide{
			margin-left:0;
			margin-bottom:5px;
		}
	}
}





