.carousel-ingresso{
	padding-bottom:75px;

	.carousel-control{
		bottom:75px;
	}
	.carousel-indicators{
		bottom:0;
		left:0;
		right:0;
		margin:0 5px;
		width:auto;
		text-align:left;


		li{
			opacity:0.5;
			background-size:contain;
			width:65px;
			height:65px;
			border-radius:0;
			border:0;
			margin:0;

		}

		.active{
			opacity:1;
		}
	}
}