//
// Tabs
//

.nav-tabs {
  .nav-item {
    // Make the list-items overlay the bottom border
    margin-bottom: 0;
  }
  .nav-link {
    border: $nav-tabs-border-width solid #f2f2f2;
    background-color: #f2f2f2;

    &.disabled {
      @include plain-hover-focus {
        background-color: #f2f2f2;
      }
    }
    &:focus,
    &:hover{
      border-color:transparent;
    }
  }
}

/* temp */
@media screen and(max-width:543px){
  .test-nav-tabs{
    .nav-item+.nav-item{
      margin-left: 0;
    }
    .nav-item{
      float: none;
      margin-bottom: 2px;
    }
    .nav-link{padding:1em;}
  }
}