//
// Tabs
//

.nav-tabs {
  .nav-item {
    // Make the list-items overlay the bottom border
    margin-bottom: 0;
  }
  .nav-link {
    border: $nav-tabs-border-width solid #f2f2f2;
    background-color: #f2f2f2;

    &.disabled {
      @include plain-hover-focus {
        background-color: #f2f2f2;
      }
    }
    &:focus,
    &:hover{
      border-color:transparent;
    }
  }
}

.nav-stacked {
  .nav-item{
    border-left: 4px solid #0db6b5;
    + .nav-item {
      margin-top: 2px;
    }
  }
  .nav-link{
    text-transform: uppercase;
    padding: .725em 1em;
    font-size: 0.875rem;
    background-color: #f2f2f2;
    .svg-icon{
      fill:$brand-primary;
    }

    &.active{
      position: relative;
      &:before{
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #0db6b5;
        position: absolute;
        right: -6px;
        top: 50%;
        z-index: 1;
        margin-top: -8px;
        pointer-events: none;
      }
      .svg-icon{
        fill:#fff;
      }
    }

    &.disabled{
      color:#ccc;
      &:hover{
        background-color: #f2f2f2;
      }
    }
  }
}

/* temp */
@media screen and(max-width:543px){
  .wide-nav-tabs{
    .nav-item+.nav-item{
      margin-left: 0;
    }
    .nav-item{
      float: none;
      margin-bottom: 2px;
    }
    .nav-link{padding:1em;}
  }
}
