// header Ingresso

.header{
  margin-bottom:10px;
  .logo{
    float:left;
    margin-bottom:0;
  }
  .hd-top{
    margin-bottom:10px;
  }
  .hd-local{
    background-color: #0db6b5;
    text-align: center;
    padding: 10px;
    a{
      color:#fff;
    }
  }
  .hd-botton{

  }
  .hd-user-menu, .hd-search{
    display: inline-block;
    margin: 15px 0 0 5px;
  }
  .hd-search-cont{
    display: none;
  }
  .umenu-text{
    display:none;
  }
  .hd-main-menu{
    background-color: #f4f4f4;
    ul{
      white-space: nowrap;
      overflow: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      display: block;
      -webkit-flex-flow: initial;
      padding:0;
      text-align: center;
      margin:0;
    }
    li{
      white-space: normal;
      width: auto;
      display: inline-block;
      letter-spacing: normal;
      word-spacing: normal;
      vertical-align: top;
      text-rendering: auto;
      padding: 0;
      max-width: initial;
      margin-right:5px;
    }
    a{
      padding:10px;
      display: block;
      width: 85px;
      border-bottom:2px solid #000;
    }

    .hd-mm-cinema a{
      border-color:#df7446;
    }
    .hd-mm-theater a{
      border-color:#c45f83;
    }
    .hd-mm-show a{
      border-color:#acbf52;
    }
    .hd-mm-event a{
      border-color:#524785;
    }
    .hd-mm-circus a{
      border-color:#ead11c;
    }
    .hd-mm-promo a{
      border-color:#ba3a3a;
    }
  }
}

@include media-breakpoint-up(md) {
  .header{
    .umenu-text{
      display:none;
    }
    .hd-botton{
      background-color: #f4f4f4;
      padding:15px;
    }
    .hd-main-menu{
      background-color: #f4f4f4;
      padding:15px;
      ul{
        display: flex;
        margin:0;
      }
      li{
        flex:1;
        text-align: center;
      }
    }
  }
}

@include media-breakpoint-up(lg) {

}
