.svg-icon{
  fill:$body-color;
  &.ic-ingresso{
    fill:$brand-primary;
  }
  &.ic-white{
    fill:$color-white;
  }
  &.ic-cinema{
    fill:$brand-cinema;
  }
  &.ic-theater{
    fill:$brand-theater;
  }
  &.ic-events{
    fill:$brand-events;
  }
  &.ic-show{
    fill:$brand-show;
  }
  &.ic-circus{
    fill:$brand-circus;
  }
  &.ic-promo{
    fill:$brand-promo;
  }
  &.ic-paypal{
    fill:$brand-paypal;
  }
  &.ic-disabled{
    fill:$brand-disabled;
  }
}

a.ic-rounded{
  cursor: pointer;
  .svg-icon{
    cursor: pointer;
  }
}

.ic-rounded{
  display: inline-block;
  text-align: center;
  color:#fff;
  border-radius: 50%;
  cursor: default;
  font-weight: 700;
  font-size: .75rem;
  vertical-align: middle;
  background: #d5d5d5;
  width: 30px;
  height: 30px;
  line-height: 30px;

  .svg-icon{
    fill:#fff;
    width: 30px;
    height: 30px;
  }

  //sizes
  &.ic-rd-size1{
    width: 25px;
    height: 25px;
    line-height: 25px;
    .svg-icon{
      width: 25px;
      height: 25px;
    }
  }
  &.ic-rd-size2{
    width: 30px;
    height: 30px;
    line-height: 30px;
    .svg-icon{
      width: 30px;
      height: 30px;
    }
  }
  &.ic-rd-size3{
    width: 40px;
    height: 40px;
    line-height: 40px;
    .svg-icon{
      width: 40px;
      height: 40px;
    }
  }

  //color
  &.ic-rd-cinema{
      background: $brand-cinema;
  }
  &.ic-rd-theater{
      background: $brand-theater;
  }
  &.ic-rd-show{
      background: $brand-show;
  }
  &.ic-rd-events{
      background: $brand-events;
  }
  &.ic-rd-circus{
      background: $brand-circus;
  }
  &.ic-rd-promo{
      background: $brand-promo;;
  }
  &.ic-rd-ingresso{
      background: $brand-primary;
  }
  &.ic-rd-inactive{
      //background: #f2f2f2;
      background: #d5d5d5;
  }
}

/* text width icon */

.icon-txt{
  display:table;

  > .it-txt, > .it-cont {
    display:table-cell;
  }

  > .it-cont{
    vertical-align: top;
  }
  .it-txt{
    padding-left:0.3125rem;
    vertical-align:middle;
  }

  .svg-icon{
    /* default icon size */
    width:30px;
    height:30px;
    vertical-align: middle;
  }

  /* align icon to the right */
  &.it-right{
    direction:rtl;

    .it-txt{
      padding-right:0.3125rem;
      padding-left:0;
    }

  }

}

/* icon sizes*/

@each $size-num, $size in $icons-size {

  .svg-icon.icon-size#{$size-num}{
    width:$size;
    height:$size;
  }
}
