// Slide Page

$slide-page-padding:15px;

.slide-page{

  /* pra remover scroll lateral */
  overflow-x:hidden;
  overflow-y:auto;

    &.active{
      > .slide-page-wp{
        transform: translateX(-100%);

        /* this transition is only for a smoothy transition between pages */
        transition-delay:.1s;


        > .slide-page-content{
          overflow:hidden;
        }
      }
    }

    &.is-animating{
      > .slide-page-wp {
        will-change:transform, opacity;
        > .slide-page-side{
          display:inline-block;
        }
      }
    }

    > .slide-page-wp{
      transition: transform 0.5s ease;
      white-space: nowrap;
      letter-spacing: -3px;

      > .slide-page-side, > .slide-page-content{
        white-space: normal;
        vertical-align: top;
        letter-spacing: normal;
        display:inline-block;
        width:100%;
      }

      > .slide-page-side{

        /*animatable properties*/
        opacity: 0;
        display:none;
        background-color:#fff;

        transition-property:opacity;
        transition-duration:.5s;

        // animation-duration: .5s;
        // animation-name: slide-page-hide;
        // animation-delay: .5s;
        // animation-fill-mode: forwards;

        &.active{

          /*animatable properties*/
          opacity: 1;
          display:inline-block;
          overflow: auto;

          //animation: initial;
        }
      }

    }


}
