// Ingresso Media

.media{
  &.ing-model{
  align-items: center;
  justify-content: center;
    .media-body{
      font-size: 0.75rem;
    }

    .media-heading{
      font-size: 0.875rem;
      margin:0;
    }
  }

  &.mb-cinema{
    .svg-icon{
      fill:#d3793d;
    }
  }
  &.mb-theater{
    .svg-icon{
      fill:#b96485;
    }
  }
  &.mb-show{
    .svg-icon{
      fill:#afbe3f;
    }
  }
  &.mb-events{
    .svg-icon{
      fill:#52478a;
    }
  }
  &.mb-circus{
    .svg-icon{
      fill:#ead11c;
    }
  }
  &.mb-promo{
    .svg-icon{
      fill:#ba3a3a;
    }
  }
}


@include media-breakpoint-up(lg) {
  .media{
    &.ing-model{
      margin-bottom:0;
    }
  }
}
