.card.ing {
  width: 174px;

  .card-img-placeholder{
    height:85px;
  }

  .card-title, .card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .card-title {
    min-height: 34px;
    max-height: 34px;
    -webkit-line-clamp: 2;
    font-size: 1rem;
  }
  .card-text {
    position: relative;
    max-height: 55px;
    font-size: 0.6875rem;

    &:after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70%;
      height: 1.2em;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }
  }
  .ch-condition {
    font-size: 0.6875rem;
    margin-bottom: 0.45rem;
    display: block;
  }
  .rating-txt {
    font-size: 0.6875rem;
  }
  .card-footer {
    padding: 0.5rem 0;
  }
  @supports (-webkit-line-clamp:2) {
    .card-text {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      max-height: 55px;
      height: auto;
    }
    .card-text:after {
      display: none;
    }
  }
  .btn {
    width: 100%;
  }
  &.horizontal {
    border: 0;
    max-width: none !important;
    width: auto;
    display: block;

    .card-img-top {
      width: 100%;
      height: auto;
      vertical-align: top;
      display: inline-block;
      margin: 0 auto;
      display: block;
    }
    .card-title {
      min-height: auto;
      margin-bottom: 0.45rem;
    }
    .card-footer {
      display: block;
      background-color: transparent;
      border: 0;
    }
    .card-block {
      display: inline-block;
      padding: .5rem 0 0;
    }
    .btn {
      width: auto;
    }
    @supports (-webkit-line-clamp:3) {
      .card-text {
        -webkit-line-clamp: 3;
        max-height: 48px;
      }
    }
    .ch-more-info {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 0.6875rem;
    }
    .card-wp {
      padding-bottom: 15px;
    }
  }
}

.card-product{
  width: 190px;
  text-align: center;
  .cp-img{
    margin-bottom: 1rem;
    display: block;
    max-width: 100%;
    height: auto;
  }
  .cp-description{
    margin-bottom: 1rem;
    display: block;
  }
  .cp-tax{
    display: block;
  }
}


@include media-breakpoint-up(sm) {
  .card.ing {
    &.horizontal {
      display: flex;
      flex: 1 0 auto;
      flex-direction: row;

      .card-img-top {
        width: 306px;
        height: 178px;
      }
      .card-block {
        padding: 0 0 0.5rem 1rem;
      }
      .card-footer {
        padding: 0 0 0 1rem;
      }
      &.info-bottom {
        display: block;

        .card-img-top {
          width: 100%;
          height: auto;
        }
        .card-block {
          padding: 1rem 0 0;
        }
        .card-footer {
          padding: 0;
        }
        .card-wp {
          padding-bottom: 0;
        }
      }
    }
  }
}
