.carousel-ingresso{

	.carousel-control{
		bottom:53px;
		background:transparent;
	}
	.carousel-indicators{
		position:static;
		width:auto;
		white-space:nowrap;
		overflow-x:auto;
		text-align:left;
		margin:0;


		.carousel-indicator{
			opacity:0.5;
			width:67px;
			height:60px;
			padding-left:5px;
			padding-right:5px;
			background-size:contain;
			background-position:center;
			background-repeat:no-repeat;
			border-radius:0;
			border:0;
			margin:0;

			&:first-child{
				margin-left:0;
			}

		}

		.active{
			opacity:1;
		}
	}
	/* temporario ate o tamanho da imagem ser definido */
	.carousel-inner > .carousel-item > img{
		width:100%;
	}

	/* feito dessa forma temporariamente pois nao existe definicao de cores de eventos */
	.carousel-caption{
		background:#d3793d;
		background:rgba(211, 121, 61, 0.5);
		padding:15px;
		left:0;
		right:0;
		bottom:0;
		text-align:left;
	}

	.carousel-inner{
		margin-bottom:5px;
	}
}

//mobile carousel
@media screen and (min-width: 35.5em){

	.carousel-ingresso{
		.carousel-indicators{
			.carousel-indicator{
				width:95px;
				height:47px;
			}
		}
	}
	
}