.svg-icon{
  fill:#666;
  &.ic-ingresso{
    fill:#0db6b5;
  }
  &.ic-cinema{
    fill:#d3793d;
  }
  &.ic-theater{
    fill:#b96485;
  }
  &.ic-events{
    fill:#afbe3f;
  }
  &.ic-show{
    fill:#52478a;
  }
  &.ic-circus{
    fill:#ead11c;
  }
  &.ic-promo{
    fill:#ba3a3a;
  }
}

.ic-rounded{
  display: inline-block;
  text-align: center;
  color:#fff;
  .ic-r-ic{
    border-radius: 50%;
    cursor: default;
    line-height: 32px;
    display: block;
    margin:0 auto;
    font-weight: 700;
    font-size: .75rem;
    text-align: center;
    vertical-align: middle;

    .svg-icon{
      fill:#fff;
    }
  }
  &.ic-rd-small{
    .ic-r-ic{
      width: 22px;
      height: 22px;
    }

  }
  &.ic-rd-medium{
    .ic-r-ic{
      width: 32px;
      height: 32px;
    }
  }
  &.ic-rd-large{
    .ic-r-ic{
      width: 42px;
      height: 42px;
    }
  }
  &.ic-r-1{
    .ic-r-ic{
      background: #d3793d;
    }
  }
  &.ic-r-2{
    .ic-r-ic{
      background: #0db5b6;
    }
  }

  &.ic-r-inactive{
    .ic-r-ic{
      //background: #f2f2f2;
      background: #d5d5d5;
    }
  }
}

/* text width icon */

.icon-txt{
  position:relative;
  display: inline-block;

  .it-txt{display:inline-block;}

  .svg-icon{
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);

    /* default icon size */
    width:30px;
    height:30px;

    /* if have icon, text gets padding */
    ~ .it-txt{padding-left:40px;text-align: left;}

    @each $size-num, $size in $icons-size {

      &.icon-size#{$size-num} ~ .it-txt{padding-left:($size + 10px);}

    }

    /* alignments */
    &.valign-top{top:0;transform:none;}
    &.valign-bottom{bottom:0;top:auto;transform:none;}



  }
  /* align icon to the right */
  &.it-right{

    .svg-icon{
      right:0;
      left:auto;

      ~ .it-txt{padding-left:0;padding-right: 40px;text-align: right;}
    }
  }
}

/* icon sizes*/

@each $size-num, $size in $icons-size {

  .svg-icon.icon-size#{$size-num}{
    width:$size;
    height:$size;
  }
}
