.svg-icon{
  &.ic-ingresso{
    fill:#0db6b5;
  }
  &.ic-cinema{
    fill:#d3793d;
  }
  &.ic-theater{
    fill:#b96485;
  }
  &.ic-events{
    fill:#afbe3f;
  }
  &.ic-show{
    fill:#52478a;
  }
  &.ic-circus{
    fill:#ead11c;
  }
  &.ic-promo{
    fill:#ba3a3a;
  }
}

.ic-rounded{
  display: inline-block;
  text-align: center;
  .ic-r-ic{
    border-radius: 50%;
    cursor: default;
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: block;
    margin:0 auto;
    font-weight: 700;
    font-size: .75rem;
    text-align: center;
    vertical-align: middle;

    .svg-icon{
      fill:#fff;
    }
  }
  &.ic-r-1{
    .ic-r-ic{
      background: #d3793d;
    }
  }
  &.ic-r-2{
    .ic-r-ic{
      background: #0db5b6;
    }
  }
}
