.card{
  width: 225px;
  .card-img-top{
    width: 245px;
    height: 140px;
  }
  .card-title,.card-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .card-title{
    min-height: 48px;
    max-height: 48px;
    -webkit-line-clamp: 2;
    font-size: 1.375rem;
  }
  .card-text{
    position: relative;
    max-height: 55px;
    &:after{
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70%;
      height: 1.2em;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }
  }

  @supports (-webkit-line-clamp: 3) {
    .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height:55px;
        height: auto;
    }
    .card-text:after {
        display: none;
    }
  }
}


.card-list{
  .cl-wrapper {
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    display: block;
    -webkit-flex-flow: initial;
  }
  .cl-item{
    white-space: normal;
    width: auto;
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    padding:0;
    max-width: initial;
  }
}


@include media-breakpoint-up(md) {

  .card{
    max-width: 225px;
    width: auto;
  }

  .card-list{
    .cl-wrapper{
      white-space: normal;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
    }
    .cl-item{
      flex:1;
      margin:0 10px;
    }
  }
}
