//
// Rating
//

.rating {
  overflow: hidden;
  display: inline-block;
}

.rating,.rating-txt{
  vertical-align: middle;
}

.r0 {
  rect{
    width: 0;
  }
}
.r1 {
  rect{
    width: 15px;
  }
}
.r2 {
  rect{
    width: 30px;
  }
}
.r3 {
  rect{
    width: 45px;
  }
}
.r4 {
  rect{
    width: 60px;
  }
}
.r5 {
  rect{
    width: 75px;
  }
}

