// font-face Ingresso

@font-face {
  font-family: 'Klavika-Regular';
  src: url('../../fonts/Klavika-Regular.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Klavika-Regular.otf')  format('opentype'),
       url('../../fonts/Klavika-Regular.woff') format('woff'), url('../../fonts/Klavika-Regular.ttf')  format('truetype'), url('../../fonts/Klavika-Regular.svg#Klavika-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Klavika-Bold';
  src: url('../../fonts/Klavika-Bold.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Klavika-Bold.otf')  format('opentype'),
       url('../../fonts/Klavika-Bold.woff') format('woff'), url('../../fonts/Klavika-Bold.ttf')  format('truetype'), url('../../fonts/Klavika-Bold.svg#Klavika-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
