.modal-dialog{
  margin:0;
  height:100%;
  .modal-content{
    min-height: 100%;
  }
}

.modal-header {
  .close{
    margin-right: -15px;
    margin-top: -10px;
    width:44px;
    height:44px;
  }
}

.modal-title{clear:right;}

// modal small
.modal-sm {
  &, .modal-footer{
    text-align: center;
  }
  .modal-title{
    font-weight: bold;
  }

  .modal-header{
    padding-bottom:10px;
  }
  .modal-body{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .modal-fotter{
    padding-top:5px;
  }
}

// Actual modal
.modal-content {
  &:before{
    content: '';
    display: block;
    width: 100%;
    margin-bottom: -5px;
    height: 3px;
    text-indent: -99999px;
    background: #0db5b6;
    background: -moz-linear-gradient(left,#d3793d 0,#d3793d 19%,#b96485 19%,#b96485 40%,#afbe3f 40%,#afbe3f 61%,#53488a 61%,#53488a 81%,#0db5b6 81%,#0db5b6 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0,#d3793d),color-stop(19%,#d3793d),color-stop(19%,#b96485),color-stop(40%,#b96485),color-stop(40%,#afbe3f),color-stop(61%,#afbe3f),color-stop(61%,#53488a),color-stop(81%,#53488a),color-stop(81%,#0db5b6),color-stop(100%,#0db5b6)),-webkit-gradient();
    background: -webkit-linear-gradient(left,#d3793d 0,#d3793d 19%,#b96485 19%,#b96485 40%,#afbe3f 40%,#afbe3f 61%,#53488a 61%,#53488a 81%,#0db5b6 81%,#0db5b6 100%);
    background: -o-linear-gradient(left,#d3793d 0,#d3793d 19%,#b96485 19%,#b96485 40%,#afbe3f 40%,#afbe3f 61%,#53488a 61%,#53488a 81%,#0db5b6 81%,#0db5b6 100%);
    background: -ms-linear-gradient(left,#d3793d 0,#d3793d 19%,#b96485 19%,#b96485 40%,#afbe3f 40%,#afbe3f 61%,#53488a 61%,#53488a 81%,#0db5b6 81%,#0db5b6 100%);
    background: linear-gradient(to right,#d3793d 0,#d3793d 19%,#b96485 19%,#b96485 40%,#afbe3f 40%,#afbe3f 61%,#53488a 61%,#53488a 81%,#0db5b6 81%,#0db5b6 100%);
    position: relative;
    z-index: 1046;
  }
}


// Close icon
.modal-header .close {
  opacity: 1;
  font-size: 1.5rem;
  &:hover{
    color:#0a8686;
  }
}

// used usually on body
.modal-icon{
  display:block;
  margin:3rem auto 0.5rem;
  width:97px;
  height:112px;
}

@include media-breakpoint-up(sm) {
  .modal-dialog{
    margin:10px auto;
    height:auto;
    .model-content{
      min-height:none;
    }
  }
}
