// scss-lint:disable QualifyingElement

//
// Base styles
//

.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-outline-success,
.btn-outline-info,
.btn-outline-warning,
.btn-outline-danger
 {
  display: none;
}


.btn {
  &.disabled,
  &:disabled {
    opacity: 1;
    background: #ddd;
    border:0;
  }
  text-transform: uppercase;
}

.btn-block-xs {
  width: 100%;
  margin-bottom:1rem;
}

//Link não segue o padrão de uppercase dos botoes
.btn-link {
  text-transform: initial;
}

@include media-breakpoint-up(sm) {
  .btn-block-xs {
    width: auto;
    margin:0;
  }
}
