//
// Tabs
//

.nav-tabs {
  .nav-item {
    // Make the list-items overlay the bottom border
    margin-bottom: 0;
  }
  .nav-link {
    border: $nav-tabs-border-width solid #f2f2f2;
    background-color: #f2f2f2;

    &.disabled {
      @include plain-hover-focus {
        background-color: #f2f2f2;
      }
    }
    &:focus,
    &:hover{
      border-color:transparent;
    }
  }
}

.nav-stacked.nav-menu{


  .nav-item{
    + .nav-item {
      margin-top: 2px;
    }
  }
  .nav-link{
    padding: .725em 1em;
    font-size: 0.875rem;
    cursor:pointer;
    background-color: #f2f2f2;
    border-left: 4px solid #0db6b5;
    position: relative;

    &:before, &:after {
       content: '';
       position: absolute;
       top:50%;
       display: block;
       width:2px;
       height:8px;
       margin-top: -5px;
       background-color: $brand-primary;
    }
    &:before{
      right:20px;
      transform: translate( 2px,-3px ) rotate( 135deg );
    }
    &:after{
      right:15px;
      transform: translate( -3px,2px) rotate( -135deg );
    }

    .svg-icon{
      fill:$brand-primary;
    }
    &.past-step{
      color:#0db6b5;
      .nav-link-title{
        font-size: 0.625rem;
        display:block;
        color: #a6a6a6;
        text-transform:none;
      }
    }
    .nav-link-title{
      color:#0db6b5;
      text-transform: uppercase;
    }

    &.active{
      background-color:#0db6b5;
      color:#fff;
      position: relative;
      &:before, &:after{
        background-color:currentColor;
      }
      .svg-icon{
        fill:#fff;
      }
      .nav-link-title{
        color:#fff;
      }
    }

    &.active.past-step .nav-link-title{
      color:#93dcdc;
    }

    &.disabled{
      color:#ccc;
      cursor:not-allowed;
      border-color: #ccc;

      .nav-link-title{
        color:currentColor;
      }

      &:before, &:after{
        background-color:currentColor;
      }
      &:hover{
        background-color: #f2f2f2;
      }
      .svg-icon{
        fill:#ccc;
      }
    }
  }
}

/* temp */
@media screen and(max-width:543px){
  .wide-nav-tabs{
    .nav-item+.nav-item{
      margin-left: 0;
    }
    .nav-item{
      float: none;
      margin-bottom: 2px;
    }
    .nav-link{padding:1em;}
  }
}

@include media-breakpoint-up(lg) {
  .nav-stacked.nav-menu {
    .nav-link{
      &:before, &:after{
        display:none;
        transform:none;
      }
      &:before{
        background-color:transparent;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #0db6b5;
        right: -8px;
        top: 50%;
        z-index: 1;
        margin-top: -8px;
        pointer-events: none;
      }
      &.active{
        &:before{display:block;}
      }
    }
  }
}
