// scss-lint:disable QualifyingElement

//
// Base styles
//

.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-outline-success,
.btn-outline-info,
.btn-outline-warning,
.btn-outline-danger
 {
  display: none;
}


.btn {
  &.disabled,
  &:disabled {
    opacity: 1;
    background: #ddd;
    border:0;
    pointer-events:none;
  }
  text-transform: uppercase;
}

//Link não segue o padrão de uppercase dos botoes
.btn-link {
  text-transform: initial;
}

.btn-paypal {
    color: #fff;
    background-color: #003087;
    border-color: #003087;
    &:hover{
      background-color: #001e54;
      background-color:#001e54;
    }
}
