//colors
$wild_sand: #f4f4f4;
$color_masala_approx: #3a3c3b;
$color_fuscous_gray_approx: #525453;
$color_chicago_approx: #5d5d5d;
$color_java_80_approx: rgba(13, 182, 181, 0.8);

//fonts
$font_0: Klavika-Regular;

//@extend-elements
//original selectors
//.header .hd-user-menu, .header .hd-search, .header .hd-support
%extend_1 {
  display: inline-block;
  margin: 5px 0 0 5px;
  vertical-align: middle;
}

//original selectors
//.header .hd-cont.collapse.in, .header .hd-cont.collapsing
%extend_2 {
  background-color: $color_fuscous_gray_approx;
  width: 100%;
  z-index: 50;
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  overflow: hidden;
}

@charset "UTF-8";
#header {
  padding-top:10px;
  div[class*="col-"] {
    position: inherit;
  }
  .week-highlights{
    display:none;
  }
  .logo {
    float: left;
    margin-bottom: 0;
  }
  .hd-top {
    padding: 0 10px;
  }
  .hd-user-menu {
    @extend %extend_1;
  }
  .hd-search {
    @extend %extend_1;
    .svg-icon {
      margin-top: 5px;
    }
  }
  .hd-support {
    @extend %extend_1;
    display: none;
    .ic-rounded.ic-rd-size2 .svg-icon {
      width: 30px;
      height: 30px;
    }
  }
  .hd-search-cont {
    .form-group {
      margin-bottom: 0;
    }
    .hd-search-suggestions {
      margin-top:20px;
      li{
        margin-bottom: 10px;
      }
      a{
        color: $brand-primary-lighter;
      }
    }
  }
  .umenu-text {
    display: none;
  }
  .hd-main-menu {
    background-color: $wild_sand;
    border-top: 4px solid $color-white;
    position: relative;
    .hd-cont {
      &.collapsing {
        top: 48px;
      }
      &.collapse.in {
        top: 48px;
      }
    }
    .hd-mm-cont .hd-cont-wp{
      height: calc(100vh - 168px);
    }
    .hd-mm-lt {
      white-space: nowrap;
      overflow: auto;
      overflow-y: hidden;
      display: block;
      padding: 0;
      text-align: center;
      margin: 0;
    }
    .hd-mm-it {
      white-space: normal;
      width: auto;
      display: inline-block;
      letter-spacing: normal;
      word-spacing: normal;
      vertical-align: top;
      text-rendering: auto;
      padding: 0;
      max-width: initial;
      margin-right: 5px;
    }
    .hd-mm-lnk {
      position: absolute;
      top: 0;
      left: 0;
      right:0;
      width: 100%;
      display: block;
      padding: 12px;
      font-family: $font_0;
      font-size: 1rem;
      color: $color-white;
      transition-duration:.25s;
      transition-property:background-color, color, top, left, right;

      &.collapsed {
        position: inherit;
        padding: 10px;
        display: block;
        width: 85px;
        border-bottom: 2px solid $close-color;
        font-family: $font_0;
        font-size: 1rem;
        color: $brand-primary;
      }
    }
    .hd-mm-cinema {
      border-color: $brand-cinema;
      .hd-mm-lnk {
        background-color: $brand-cinema;
        &.collapsed {
          background-color: transparent;
          border-color: $brand-cinema;
        }
      }
      .filter{
        .filter-val {color: $brand-cinema-lighter;}
        /* &.filter-has-val{
          .date-it a {color: $brand-cinema;}
          .date-info{
            background-color: $brand-cinema;
          }
        } */
      }
    }
    .hd-mm-theater {
      border-color: $brand-theater;
      .hd-mm-lnk {
        background-color: $brand-theater;
        &.collapsed {
          background-color: transparent;
          border-color: $brand-theater;
        }
      }
      .filter{
        .filter-val {color: $brand-theater-lighter;}
        /* &.filter-has-val{
          .date-it a {color: $brand-theater;}
          .date-info{
            background-color: $brand-theater;
          }
        } */
      }
    }
    .hd-mm-show {
      border-color: $brand-show;
      .hd-mm-lnk {
        background-color: $brand-show;
        &.collapsed {
          background-color: transparent;
          border-color: $brand-show;
        }
      }
      .filter{
        .filter-val {color: $brand-show-lighter;}
        /* &.filter-has-val{
          .date-it a {color: $brand-show;}
          .date-info{
            background-color: $brand-show;
          }
        } */
      }
    }
    .hd-mm-event {
      border-color: $brand-events;
      .hd-mm-lnk {
        background-color: $brand-events;
        &.collapsed {
          background-color: transparent;
          border-color: $brand-events;
        }
      }
      .filter{
        .filter-val {color: $brand-events-lighter;}
        /* &.filter-has-val{
          .date-it a {color: $brand-events;}
          .date-info{
            background-color: $brand-events;
          }
        } */
      }
    }
    .hd-mm-circus {
      border-color: $brand-circus;
      .hd-mm-lnk {
        background-color: $brand-circus;
        &.collapsed {
          background-color: transparent;
          border-color: $brand-circus;
        }
      }
      .filter{
        .filter-val {color: $brand-circus-lighter;}
        /* &.filter-has-val{
          .date-it a {color: $brand-circus;}
          .date-info{
            background-color: $brand-circus;
          }
        } */
      }
    }
    .hd-mm-promo {
      border-color: $brand-promo;
      .hd-mm-lnk {
        background-color: $brand-promo;
        &.collapsed {
          background-color: transparent;
          border-color: $brand-promo;
        }
      }
      .filter{
        .filter-val {color: $brand-promo-lighter;}
        /* &.filter-has-val{
          .date-it a {color: $brand-promo;}
          .date-info{
            background-color: $brand-promo;
          }
        } */
      }
    }
    .hd-mm-options {
      margin-bottom: 15px;
    }
    .filter {
      &-head {
        background-color: $color_chicago_approx;
        border-color:$color_fuscous_gray_approx;
        color: $color-white;
      }
      &-action{
        color:#10e0df;
        &:hover{
          color:#0db0b0;
        }
      }
      &-content {
        background-color: $color_chicago_approx;
      }
      &-wp {
        height: 200px;
        &::-webkit-scrollbar {
          width: 3px;
        }
        &::-webkit-scrollbar-track {
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background: $color_java_80_approx;
          &:window-inactive {
            background: $color_java_80_approx;
          }
        }
        a{
          color:#10e0df;
          &:hover{
            color:#0db0b0;
          }
        }
      }
      &-has-val{
        .filter-wp{
          height:194px;
        }
        .filter-it{
          font-size: 90%;
          &.is-selected{
            display: none;
          }
          a{
            text-decoration: none;
          }
        }
      }
    }
    .btn-filter {
      margin-top: 15px;
    }
    .hd-mm-cat-link {
      margin: 10px 0 15px;
      display: block;
      color:#10e0df;
      &:hover{
        color:#0db0b0;
      }
    }
    .date-month-lt2 {
      padding: 10px;
      .date-it {
        margin: 0 5px 10px;
      }
      .date-lk{
        border:0;
      }
    }
    .hd-mm-cinema .hd-mm-lnk {
      background-color: $brand-cinema;
      &.collapsed {
        background-color: transparent;
        border-color: $brand-cinema;
      }
    }
  }
  .hd-umenu-options {
    .tab-accordion {
      border-bottom: 0;
      color: $color-white;
      font-size: 0.938rem;
    }
    .tab-content {
      padding-left: 10px;
      li {
        margin-bottom: 15px;
      }
      a{
        color:#10e0df;
        &:hover{
          color:#0db0b0;
        }
      }
    }
  }
  .umenu-tips {
    text-align: center;
    color: $color-white;
    .svg-icon {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 0;
    }
  }
  .hd-local {
    background-color: $brand-primary;
    text-align: center;
    padding: 10px;
    .hd-local-link {
      color: $color-white;
      &.collapsed .hd-local-ic-2 {
        transform: rotate(180deg) scaleX(-1);
      }
    }
    .hd-cont {
      &.collapsing, &.collapse.in {
        top: 116px;
      }
    }
    form {
      margin-bottom: 15px;
    }
    .hd-local-update {
      display: block;
      margin-bottom: 25px;
      color:#10e0df;
      &:hover{
        color:#0db0b0;
      }
    }
    .hd-local-places {
      strong {
        color: $color-white;
        font-size: 0.938rem;
        font-weight: normal;
        margin-bottom: 20px;
        display: block;
      }
      ul {
        margin-bottom: 20px;
      }
      li {
        margin-bottom: 10px;
      }
      a{
        color:#10e0df;
        &:hover{
          color:#0db0b0;
        }
      }
    }
    .hd-local-cont .hd-cont-wp {
      height: calc(100vh - 116px);
      display: block;
    }
  }
  .hd-local-link {
    font-family: $font_0;
    font-size: 1rem;
    .svg-icon {
      fill: $color-white;
    }
  }
  .svg-icon {
    cursor: pointer;
  }
  .hd-cont {
    text-align: left;
    .hd-cont-wp {
      padding: 25px;
      height: calc(100vh - 70px);
      overflow-y: auto;
    }
    &.collapsing {
      @extend %extend_2;
    }
    &.collapse.in {
      @extend %extend_2;
    }
  }
  .ic-rounded.ic-rd-size2 {
    width: 40px;
    height: 40px;
    .svg-icon {
      width: 30px;
      height: 30px;
      margin-top: 4px;
    }
  }
  .hd-um-link * {
    vertical-align: middle;
  }
  .hd-umenu-cont * {
    vertical-align: middle;
  }
}
@media(min-width: 768px) {
  #header {
    overflow: visible;
    margin-bottom: 15px;
    .week-highlights{
      display: block;
      border-left: 1px solid #c9cbca;
      margin-left: 2rem;
      padding-left: 2rem;
      .event-name{
        color: $color-white;
        font-weight: normal;
      }
    }
    .hd-user-menu {
      margin: 15px 0 0 5px;
      .hd-cont {
        &.collapsing {
          background: linear-gradient(to right, $color_masala_approx 69%, $color_fuscous_gray_approx 31%);
          top: 70px;
        }
        &.collapse.in {
          background: linear-gradient(to right, $color_masala_approx 69%, $color_fuscous_gray_approx 31%);
          top: 70px;
        }
      }
      .hd-cont-wp {
        padding: 0;
        .svg-icon {
          cursor: default;
        }
      }
      .umenu-tips {
        background-color: $color_masala_approx;
        padding: 35px 25px;
      }
      .hd-umenu-options {
        background-color: $color_fuscous_gray_approx;
        padding: 35px 25px;
        .tab-content {
          padding: 0;
        }
      }
      .hd-um-link{
        .svg-icon{
          margin-bottom: 2px;
        }
      }
    }
    .hd-search {
      margin: 15px 0 0 5px;
      .hd-cont {
        &.collapsing, &.collapse.in {
          top:70px;
        }
        .hd-cont-wp{
          overflow: visible;
        }
      }
      .ic-rounded{
        &.ic-rd-size2{
          .svg-icon {
            margin-top: 5px;
          }
        }
      }
    }
    .hd-support {
      margin: 15px 0 0 5px;
      display: inline-block;
      vertical-align: middle;
    }
    .umenu-text {
      display: inline-block;
      margin-right: 5px;
    }
    .hd-cont {
      .hd-cont-wp {
        height: auto;
      }
      &.collapsing, &.collapse.in {
        height: auto;
        bottom: initial;
        overflow: hidden;
        top: inherit;
      }
    }
    .hd-top {
      margin-bottom: 10px;
    }
    .hd-bottom {
      background-color: $wild_sand;
      div[class*="col-md-3"] {
        padding-right: 3px;
      }
      div[class*="col-md-9"] {
        padding-left: 0;
      }
    }
    .hd-search-cont {
      width: 100%;
      bottom: inherit;
      height: auto;
      overflow: hidden;
      .hd-cont-wp {
        padding: 25px 0;
        max-width: 600px;
        margin: 0 auto;
      }
    }
    .hd-main-menu {
      background-color: transparent;
      border: 0;
      position: inherit;
      .hd-cont {
        &.collapsing {
          top: inherit;
          margin-top: -2px;
        }
        &.collapse.in {
          top: inherit;
          margin-top: -2px;
        }
        .hd-cont-wp {
          height: auto;
        }
      }
      .hd-mm-lt {
        white-space: initial;
        overflow: initial;
        overflow-y: initial;
        display: flex;
      }
      .hd-mm-it {
        flex: 1;
        &:last-child {
          margin-right: 0;
        }
      }
      .hd-mm-lnk {
        width: 100%;
        min-height: 50px;
        position: inherit;
        padding: 10px;
        &.collapsed {
          width: 100%;
        }
      }
      .hd-mm-cinema .hd-mm-cont {
        border-top: 3px solid $brand-cinema;
      }
      .hd-mm-theater .hd-mm-cont {
        border-top: 3px solid $brand-theater;
      }
      .hd-mm-show .hd-mm-cont {
        border-top: 3px solid $brand-show;
      }
      .hd-mm-event .hd-mm-cont {
        border-top: 3px solid $brand-events;
      }
      .hd-mm-circus .hd-mm-cont {
        border-top: 3px solid $brand-circus;
      }
      .hd-mm-promo .hd-mm-cont {
        border-top: 3px solid $brand-promo;
      }
    }
    .hd-local {
      background-color: transparent;
      padding: 0;
      .hd-local-link {
        background-color: $brand-primary;
        color: $color-white;
        display: block;
        padding: 10px;
        border-bottom: 2px solid $brand-primary;
        min-height: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .svg-icon {
          fill: $color-white;
        }
        &.collapsed {
          background-color: transparent;
          color: $brand-primary;
          .svg-icon {
            fill: $brand-primary;
          }
        }
      }
      .hd-cont {
        &.collapsing, &.collapse.in {
          top: inherit;
          position: absolute;
          border-top: 3px solid #0db6b5;
          margin-top: -2px;
        }
      }
      .hd-local-cont .hd-cont-wp {
        height: auto;
        display: flex;
      }
      .hd-local-options{
        border-left: 1px solid #c9cbca;
        margin-left: 2rem;
        padding-left: 2rem;
      }
    }
    .hd-um-link {
      margin-right: 10px;
      &:hover {
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
      }
      &:active {
        text-decoration: none;
      }
      .svg-icon {
        cursor: pointer;
      }
    }
    .ic-rounded.ic-rd-size2 {
      width: 30px;
      height: 30px;
      .svg-icon {
        width: 20px;
        height: 20px;
        margin-top: 0;
      }
    }
  }
}
@media(min-width: 992px) {
  #header {

    .week-highlights{
      display: none;
    }
    .hd-search-link {
      display: none;
    }
    .hd-local{
      position: relative;
      .hd-cont-wp{
        padding:15px;
      }
      .hd-local-options{
        border-left: 0;
        margin-left: 0;
        padding-left: 1rem;
      }
    }
    .hd-search{
      margin-top:10px;
      &.is-opened{
        .hd-search-suggestions {
          display: block;
        }
      }
    }
    .hd-search-cont {
      width: 280px;
      display: inline-block;
      overflow: visible;
      .hd-cont-wp {
        padding: 0;
        max-width: initial;
        margin: 0;
        position: relative;
        overflow-y: visible;
      }
      .hd-search-suggestions {
        display: none;
        position: absolute;
        top: 39px;
        left: 0;
        background: $color-white;
        border: 1px solid $brand-primary;
        z-index: 1;
        padding: 10px;
        margin: 0 ;
        ul {
          margin: -10px;
        }
        li {
          padding: 0;
          &:last-child {
            margin: 0;
          }
        }
        a {
          padding: 5px 10px;
          display: block;
          color: $brand-primary;
          &:hover {
            background-color: $brand-primary;
            color: $color-white;
            text-decoration: none;
          }
        }
      }
      .hd-search-input {
        margin: 0;
        display: inline-block;
        width: 100%;
      }
      &.collapsing, &.collapse.in {
        background-color: transparent;
        position: initial;
        width: 280px;
      }
    }
    .filter {
      .filter-head{cursor: default;}
      .filter-action{display: none;}
      &-has-val{
        .filter-action{
          display: block;
        }
      }
    }
    // states
    // .is-reducing and .is-reduced are used together with .is-fixed
    &.is-fixed{
      position:fixed;
      top:0;
      left:0;
      right:0;
      margin:0;
      z-index: 9999; /* TODO - bootstrap works with z-index variables. Check it */
      transition: height .25s;
      height:122px;
    }
    &.is-reduced{
      box-shadow:0px 1px 4px #ccc;
      height:70px;
      .hd-bottom{
        visibility: hidden;
      }
    }
    &.is-reducing{
      overflow: hidden;
      .hd-bottom{
        visibility: visible;
      }
    }

  }

}
