// tab accordion with ingresso

.tab-accordion{
	display: block;
	padding:10px;
	border-bottom:1px solid #eee;
	position: relative;
	text-decoration: none;
	font-size: 0.875rem;
	&:focus, &:active, &:hover{
		text-decoration: none;
	}
  &:before, &:after {
     content: '';
     position: absolute;
     top:50%;
     background: $brand-primary;
     transition: all 0.25s ease-in-out;
  }

  &.tab-inactive{
    opacity: 0.6;
    position: relative;
    pointer-events: none;
  }

  &.model1{
		padding-right:30px;
    &:before, &:after {
      display: block;
      width:2px;
      height:8px;
      margin-top: -5px;
    }
    &:before{
      right:20px;
      transform: translate( 2px , 0 ) rotate( 45deg );
    }
    &:after{
      right:15px;
      transform: translate( 2px , 0 ) rotate( -45deg );
    }
    &.collapsed {
      &:before{transform: translate( 2px , 0 ) rotate( -45deg );}
      &:after{transform: translate( 2px , 0 ) rotate( 45deg );}
    }
  }

  &.model2{
		padding-right:30px;
    &:before, &:after{
      right: 0;
      margin: -8px 0 0;
    }
    &:before{
      right: 15px;
      width: 2px;
      height: 12px;
      margin-top: -7px;
      transform: translate( 0 , 0 ) rotate( 90deg );
    }
    &:after{
      right: 10px;
      width: 12px;
      height: 2px;
      margin-top: -2px;
      transform: translate( 0 , 0 ) rotate( 0 );
    }
     &.collapsed {
      &:before{transform: translate( 0 , 0 ) rotate( 0 );}
    }
  }
}
.tab-content{
   .tab-cont-wp{
      padding:10px;
   }
}

.icon-accordion{
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &.collapsed{
      .svg-icon {
      -moz-transform: rotate(180deg) scaleX(-1);
      -o-transform: rotate(180deg) scaleX(-1);
      -webkit-transform: rotate(180deg) scaleX(-1);
      transform: rotate(180deg) scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
  }
  .ia-txt{
    display:none;
  }
  &:hover, &:focus, &:active{
    text-decoration: none;
    span{
      text-decoration: none;
    }
  }
}


.add-remove-tab{
  background: #f2f2f2;
  margin: 0 0 10px;
  box-sizing: border-box;
  .art-txt{
    text-transform: uppercase;
    &:before{
      content: "Remover";
      display: inline-block;
      margin-right: 5px;
    }
  }
  .tab-accordion{
    border:0;
  }
  .collapsed{
    .art-txt{
      &:before{
        content: "Adicionar";
        display: inline-block;
      }
    }
  }
}


.collapse-radio{
  *{
    vertical-align: middle;
  }
  .cr-lnk{
    display: block;
    border: 1px solid #e0e0e0;
    padding:10px;
    margin-top:-1px;
    &.collapsed{
      border:1px solid transparent;
      border-bottom: 1px solid #e0e0e0;
    }
    .custom-control-indicator {
      background-image: $custom-radio-checked-icon;
      top: 0.35rem;
    }
  }

  .collapsed{
    .custom-control-indicator {
      background-image: none;
    }
  }
  .collapse{
    .card{
      border-top:0;
    }
  }
  .cr-content{
    padding:15px;
    border: 1px solid #e0e0e0;
    border-top:0;
  }
  .cr-value{
    display: block;
    font-size: 0.750rem;
  }
}

@include media-breakpoint-up(md) {
  .icon-accordion{
    .ia-txt{
      display:inline-block;
      margin-right: 5px;
    }
  }
}
