//
// Highlighted Titles
//

.high-title{
  color:#fff;
  padding: 0 5px 0 10px;
  font-size:1.125rem;
  display: flex;
  align-items: center;
  min-height: 30px;
  *{
    vertical-align: middle;
  }
  &.ht-cinema{
      background:#d3793d;
  }
  &.ht-theater{
      background:#b96485;
  }
  &.ht-show{
      background:#afbe3f;
  }
  &.ht-events{
      background:#52478a;
  }
  &.ht-circus{
      background:#ead11c;
  }
  &.ht-promo{
      background:#0cb0b1;
  }
  .svg-icon{
    margin-right: 5px;
    fill: #fff;
  }
  .ht-lk{
    float: right;
    margin-left: auto;
    font-size: 0.8125rem;
    color:#fff;
    font-family: 'Trebuchet Ms';
  }
}

.title-bar {
  background: #F2F2F2;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
  .tit-bar-content {
    font-weight: normal;
    vertical-align: middle;
    margin:0;
  }
  .tit-bar-lk1, .tit-bar-lk2{
    vertical-align: middle;
  }

  .tit-bar-lk2{
    float: right;
    font-size: 0.813rem;
    .svg-icon{
      fill:#0DB6B5;
    }
  }

  .svg-icon{
    vertical-align: middle;
    fill:#c3c3c3;
  }
}

//
// Event Name
//

.event-name {
  font-size: 1.375rem;
  font-weight: bold;
  &.ev-nm-01 {
    color: #D3793D;
  }
  &.ev-nm-02 {
    color: #B86483;
  }
  &.ev-nm-03 {
    color: #AFBE3F;
  }
  &.ev-nm-04 {
    color: #53488A;
  }
  &.ev-nm-05 {
    color: #DADD00;
  }
  &.ev-nm-06 {
    color: #0DB6B5;
  }
}
