//
// Borders utilities
//

.b1-t, .b1-b, .b1-l, .b1-r, .b2-t, .b2-b, .b2-l, .b2-r {
  border-style:solid;
  border-width: 0;
}

.b1-t, .b2-t{
  border-top-width: 1px;
  margin-top:1rem;
  padding-top:1rem;
}

.b1-b, .b2-b{
  border-bottom-width: 1px;
  margin-bottom:1rem;
  padding-bottom:1rem;
}

.b1-l, .b2-l{
  border-left-width: 1px;
  margin-left:1rem;
  padding-left:1rem;
}

.b1-r, .b2-r{
  border-right-width: 1px;
  margin-right:1rem;
  padding-right:1rem;
}

.b1-t, .b1-b, .b1-l, .b1-r{
  border-color: #bbb;
}

.b2-t, .b2-b, .b2-l, .b2-r{
  border-color: #f2f2f2;
}
