//
// Colors utilities
//

.clr-cinema {color:$brand-cinema;}
.clr-theater {color:$brand-theater;}
.clr-show {color:$brand-show;}
.clr-events {color:$brand-events;}
.clr-circus {color:$brand-circus;}
.clr-promo {color:$brand-promo;}
